{% if members %}
<div class="field">
  <label>Responsáveis</label>
  <div class="multi"
       x-data="{ open: false, sel: [{% for id in assignee_ids %}'{{ id }}'{% if not forloop.last %}, {% endif %}{% endfor %}] }"
       @click.outside="open = false">
    <button type="button" class="multi__btn" :class="{ 'is-open': open }" @click="open = !open">
      <span class="multi__val" :class="{ 'is-empty': !sel.length }"
            x-text="sel.length ? sel.length + (sel.length > 1 ? ' responsáveis' : ' responsável') : 'Ninguém atribuído'"></span>
      <span class="multi__chev" :class="{ 'is-open': open }">{% include "core/_icon.html" with icon="chevron" %}</span>
    </button>
    <div class="multi__menu" x-show="open" x-cloak x-transition.origin.top>
      {% for m in members %}
      <label class="multi__opt">
        <input type="checkbox" name="assignees" value="{{ m.pk }}" x-model="sel">
        <span class="multi__check">{% include "core/_icon.html" with icon="check" %}</span>
        <span class="multi__name">{{ m.get_username }}</span>
      </label>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
