{% load humanize %}
{% load nucleo_extras %}
<div class="deal-stats">
  <div class="deal-stat">
    <span class="deal-stat__icon">{% include "core/_icon.html" with icon="briefcase" %}</span>
    <div>
      <div class="deal-stat__label">Pipeline aberto</div>
      <div class="deal-stat__value">{{ stats.open_value|money:currency_code }}</div>
    </div>
  </div>
  <div class="deal-stat">
    <span class="deal-stat__icon">{% include "core/_icon.html" with icon="briefcase" %}</span>
    <div>
      <div class="deal-stat__label">Negócios abertos</div>
      <div class="deal-stat__value">{{ stats.open_count }}</div>
    </div>
  </div>
  <div class="deal-stat">
    <span class="deal-stat__icon is-won">{% include "core/_icon.html" with icon="trophy" %}</span>
    <div>
      <div class="deal-stat__label">Ganhos</div>
      <div class="deal-stat__value">{{ stats.won_value|money:currency_code }}</div>
    </div>
  </div>
</div>
